*{
    margin: 0px;
    padding: 0px;
    font-family: impact;
    letter-spacing: 1.3px;
    text-decoration: none;
    box-sizing: border-box;


}


.pagefull{
    margin: 0px;
    background-color: rgb(255, 255, 255);
} 


.toppage{
    background-color: #bbbbbb;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.iconos{
    margin: 5px;
  height: 11px;
}


.contac{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    
}

.fijo{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    
}

 /* Ocultamos los inputs y el formulario de vendedor por defecto */
 .vendedor {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    display: none;
    position: absolute;
    left: 30px; /* Alinea al lado izquierdo */
    align-items: center;   
    

  }


  .vendedor input {
    font-size: 10px;
    width: 80px;
    height: 15px;
  }

  .vendedor button {
    height: 15px;
    width: 60px;
    font-size: 10px;
  }

  .vendedor button:hover{
    background-color: #ddd;
    cursor: pointer;
  }

  /* Estilo para el icono de perfil */
  .iconoPerfil {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: absolute;
    left: 0; /* Alinea al lado izquierdo */
  }

  .iconoPerfil:hover {
    color: #ddd;
  }

.acceso{
    display: flex;
    background-color: #bbbbbb;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    text-align: center;
    justify-content: center; /* Centrar verticalmente */
    
}
.acceso::placeholder{
    color: black;
    font-family: sans-serif;
    font-size: 10px;

}
.cajalogo{
    width: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: relative; /* Para manejar la posición del elemento izquierdo */

}

.logo{
    text-align: center; /* Centra el contenido del elemento */
    height: 60px;
    padding: 5px;
}
.iconoPerfil{
    display: flex;
    background-color: transparent; /* Elimina el fondo */
    font-size: 24px;
    color: #bbbbbb; /* Color negro */
    
    
}
.social-icons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 0; /* Alinea al lado izquierdo */
    margin-right: 10px; /* Agrega espacio del borde si es necesario */
  }
  
  .social-icons a {
    text-decoration: none;
    font-size: 24px;
    color: #bbbbbb; /* Color negro */
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #e7e7e7; /* Cambia de color al pasar el mouse */
  }
  

.inputs-container{
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.titulo-filtrar{
  
    color: #bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
}

.filtrar{
    display: flex; /* Aplica el modelo Flexbox */
    justify-content: space-between; /* Espaciado entre elementos, puedes cambiarlo según lo que necesites */
    align-items: center; /* Alinea verticalmente los elementos (opcional) */
  
}


.top2{
    
    width: 100%;
  
    text-align: center;
    align-items:center;
   
    z-index: 999;
    justify-content: center
}




.buscar{
    
    background-color: #bbbbbb;
    border: none;
    border-radius: 10px 10px 10px 10px;
    height: 20px;
    width: 70%;
    padding-left: 5px;
    outline: none;
    margin: 3px;
    text-align: center
}
.buscar::placeholder{
    color: black;
    font-family: sans-serif;
    font-size: 10px;

}


.productoall{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   
}

.producto{
    margin: 2px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-bottom: 5%;
    cursor: pointer;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.producto:hover{
    transition: all ease-in-out .4s;
    border: 1px solid black;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.quantity-input {
    width: 30px;
    height: 20px;
    font-size: 14px;    
    color: #000000; /* Texto en azul */
    background-color: #f9dc05; /* Fondo blanco */
    border: none; /* Borde azul */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Texto centrado */
    outline: none; /* Sin borde al hacer clic */
    
  }
   /* Deshabilitar las flechas (para navegadores compatibles) */
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
     appearance: none;
     margin: 0;
   }

.boton-agregar{
    padding: 5px;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 5%;
    border-radius: 10%;
    background:#2a9d8f;
    color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    opacity: .9;
     cursor: pointer;
}

.boton-agregar:hover{
    transition: all ease-in-out .25s;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.561);
}

.info{
    margin-left: 5px;
    font-size: 12px;
    font-family: sans-serif;
}

.imagen{
    
    border-radius: 5%;
    width: 100%;
    
}

.imagen:hover{
    transition: all ease-in-out .6s;
    transform: scale(1.09);
    border-radius: 15%;
}

.precioProducto{
   margin-top: 5px;
    
}

.precioProductoAfiliado { /* Ocultamos los precios de los vendedores por defecto */
    display: none;
    color:#fb1313;

    
} 

#contenedor-aros{
    margin: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 185px));
    grid-template-rows: 1fr;
   
    justify-content: space-evenly;
    justify-items: center;    
}

#contenedor-llantas{
    margin: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 165px));
    justify-content: space-evenly;
    justify-items: center;    
}



header label{
    display: none;
 
    width: 30px;
    height: 15x;
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
}

header label:hover{
    cursor: pointer;
    opacity: .9;

}


/* Estilo para el botón flotante */
#boton-flotante {
    position: fixed;
    bottom: 10px; /* Distancia desde la parte inferior */
    left: 10px; /* Distancia desde la parte izquierda */
    width: 50px;
    height: 50px;
    background-color:#f9dc05; /* Color de fondo */
    color: rgb(20, 20, 20); /* Color del texto */
    border: none;
    border-radius: 50%; /* Forma circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 14px; /* Tamaño del icono/texto */
    display: none; /* Ocultar inicialmente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */

  }
  #boton-flotante:hover {
    background-color: #282828; /* Cambiar color al pasar el mouse */
    color: #e7e7e7;
  }

 
  /* Estilo para el botón flotante */
#boton-flotante-rines{
    position: fixed;
    bottom: 10px; /* Distancia desde la parte inferior */
    left: 10px; /* Distancia desde la parte izquierda */
    width: 50px;
    height: 50px;
    background-color:#f9dc05; /* Color de fondo */
    color: rgb(20, 20, 20); /* Color del texto */
    border: none;
    border-radius: 50%; /* Forma circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 14px; /* Tamaño del icono/texto */
    display: none; /* Ocultar inicialmente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */

  }
  #boton-flotante:hover {
    background-color: #282828; /* Cambiar color al pasar el mouse */
    color: #e7e7e7;
  }



  .boton-llantas{
    display: inline-block; 
    text-decoration: none; 
    background-color: black; 
    color: #f9dc05;
     padding: 10px 20px; 
     border-radius: 5px; 
     font-size: 16px;
      text-align: center;
       font-weight: bold;
       margin: 5px;
    }